<section id="carrinho">
    
    <span id="titulos">
        <h2>Carrinho</h2>

        <p>0 itens</p>
    </span>

    <div class="cards">

        <p id="nome-produto">Bola de basquete</p>

        <p id="produto">R$ 100,00</p>
    </div>

    <div id="valores">
        <span id="valor-produto">
            <p>Subtotal</p>

            <p>R$ 100,00</p>
        </span>
        
        <span id="frete">
            <p>Frete</p>

            <p>Grátis</p>
        </span>

        <hr>

        <span>

        <h3>Total</h3>

        <p>R$ 100,00</p>
        </span>


        <button type="submit">Finalizar pedido</button>
    </div>
</section>