<form id="carrinho">
    <span id="titulos">
        <h2>Carrinho</h2>
        <p>0 itens</p>
    </span>

    
    <div class="cards">

        <span class="item-detalhe">
            <p id="nome-produto">Bola de basquete</p>
            <p id="produto">R$ 100,00</p>
        </span>
       

        <div class="quantidade">
            <button type="button" (click)="remover(idproduto: number)" class="btn-quantidade" aria-label="Diminuir">-</button>
            <span class="valor-quantidade">1</span>
            <button type="button" class="btn-quantidade" aria-label="Aumentar">+</button>
        </div>
    </div>

    <div id="valores">
       

        <span id="valor-quantidade">
            <p>Subtotal</p>
            <p>R$ 100,00</p>
        </span>
        
        <span id="frete">
            <p>Frete</p>
            <span id="gratis">
                <p>Grátis</p>
            </span>
        </span>

        <hr>

        <span id="Total"> 
            <h3>Total</h3>
            <p>R$ 100,00</p>
        </span>

        <button type="submit" id="finalizar">Finalizar pedido</button>
    </div>
</form>
